.container {
  display:flex;
  width: 800px;
  margin: auto;
  justify-content: center;
}


.List-entry {
  margin: 10px 0;
  background: #e3ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  border: 1px solid gray;
}

.List-email {
  color: gray;
}
