.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  display: flex;
  justify-content: center;
}

.people-list {
  width: 500px;
  margin-top: 10px;
}

.people-list__entry {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 5px 0;
}

.people-list__person {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.people-list__friend-list {
  display: none;
  background-color: black;
  color: white;
}

.people-list__friend-list--show {
  display: block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
